{% extends "courses/course_dashboard.html" %}

{% block dashboard_content %}

<div class="well">
    <h2>Inicio das aulas, sejam bem vindos!</h2>
    <p>
    Lorem ipsum varius justo at litora enim ullamcorper nullam, congue nulla felis ultricies nostra congue dolor, ultricies enim odio justo luctus curae facilisis. interdum condimentum urna mi morbi purus consequat vestibulum etiam, mattis vestibulum sollicitudin aenean torquent fringilla tellus quam, dictumst malesuada litora rhoncus at donec netus. felis sem id pretium sapien ad turpis eu quisque, lacus consequat metus neque aliquam posuere donec, justo pretium vestibulum facilisis blandit tempor tristique. nulla ac hendrerit eget neque vitae fames himenaeos, morbi sollicitudin dictumst habitant lacus nibh ullamcorper, ut at turpis rutrum sollicitudin aliquam.
    </p>
    <p>
        <a href="#comments" title="">
            <i class="fa fa-comments-o"></i>
            10 comentarios
        </a>
    </p>
</div>
<div class="well">
    <h2>Inicio das aulas, sejam bem vindos!</h2>
    <p>
    Lorem ipsum varius justo at litora enim ullamcorper nullam, congue nulla felis ultricies nostra congue dolor, ultricies enim odio justo luctus curae facilisis. interdum condimentum urna mi morbi purus consequat vestibulum etiam, mattis vestibulum sollicitudin aenean torquent fringilla tellus quam, dictumst malesuada litora rhoncus at donec netus. felis sem id pretium sapien ad turpis eu quisque, lacus consequat metus neque aliquam posuere donec, justo pretium vestibulum facilisis blandit tempor tristique. nulla ac hendrerit eget neque vitae fames himenaeos, morbi sollicitudin dictumst habitant lacus nibh ullamcorper, ut at turpis rutrum sollicitudin aliquam.
    </p>
    <p>
        <a href="#comments" title="">
            <i class="fa fa-comments-o"></i>
            10 comentarios
        </a>
    </p>
</div>
{% endblock %}
