{% extends "base.html" %}
{% block content %}

<div class="splash">
	<div class="pure-g-r">
		<div class="pure-u-1">
			<div class="l-box splash-text">
				<h1 class="splash-head">
					Uma Simples Plataforma de Estudo a Distância
				</h1>
				<h2 class="splash-subhead">
					O Simple MOOC visa simplificar o ensino a distância, provendo ferramentas objetivas e de facil uso para cursos a distância.
				</h2>
				<p>
					<a href="#" class="pure-button primary-button">Inscreva-se</a>
				</p>
			</div>
		</div>
	</div>	
</div>
<div class="pure-g-r content-ribbon">
	<div class="pure-u-2-3">
		<div class="l-box">
			<h4 class="content-subhead">Sobre o Curso</h4>
			<p>
			Morbi leo mi, nonummy eget, tristique non, rhoncus non, leo. Nullam faucibus mi quis velit. Integer in sapien. Fusce tellus odio, dapibus id, fermentum quis, suscipit id, erat. Fusce aliquam vestibulum ipsum. Aliquam erat volutpat. Pellentesque sapien. Cras elementum. Nulla pulvinar eleifend sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque porta. Vivamus porttitor turpis ac leo.
			</p>
			<p>
				Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. Pellentesque ipsum. Nulla non arcu lacinia neque faucibus fringilla. Nulla non lectus sed nisl molestie malesuada. Proin in tellus sit amet nibh dignissim sagittis. Vivamus luctus egestas leo. Maecenas sollicitudin. Nullam rhoncus aliquam metus. Etiam egestas wisi a erat.
			</p>
		</div>
	</div>
	<div class="pure-u-1-3">
		<div class="l-box">
			<img src="http://placehold.it/400x250" alt="">
		</div>
	</div>
</div>
{% endblock %}