{% extends "courses/course_dashboard.html" %}

{% block dashboard_content %}
<form action="" method="post">
    {% csrf_token %}
    <h3>
        Você realmente deseja cancelar a inscrição desse curso?
    </h3>
    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Confirmar
        </button>
        <a href="{% url 'courses:announcements' course.slug %}" class="pure-button button-error">Voltar Ao Painel
        </a>
    </div>
</form>

{% endblock %}