{% extends "base.html" %}
{% block content %}
<div class="splash">
	<div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h1>Fale conosco</h1>
            <p>Você pode entrar em contato conosco tanto por email como pelas redes sociais,
            abaixo os links para contato:</p>
            <h4>Links</h4>
            <ul>
            	<li>E-mail:<a href="mailto:contato@surak.org">
            	contato@surak.org</a></li>
            	<li>Twitter:<a href="https://twitter.com/surak">
            	@surak</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}



